@using ETicaret.Models
@model IEnumerable<Siparis>
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>Sipariş Listesi</h1>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCKimlikNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>Ürün Adet</th>
        <th>Toplam Tutar</th>
        <th>Sipariş Detay</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(m => item.Ad)
    </td>
    <td>
        @Html.DisplayFor(m => item.Soyad)
    </td>
    <td>
        @Html.DisplayFor(m => item.Adres)
    </td>
    <td>
        @Html.DisplayFor(m => item.Telefon)
    </td>
    <td>
        @Html.DisplayFor(m => item.TCKimlikNo)
    </td>
    <td>
        @Html.DisplayFor(m => item.Tarih)
    </td>
    <td>
        @item.SiparisDetay.Sum(x=>x.Adet)
    </td>
    <td>
        @item.SiparisDetay.Sum(x=>x.ToplamTutar)
    </td>
    <td>
        @Html.ActionLink("Detay", "SiparisDetay", new { id = item.SiparisId })
    </td>

</tr>
    }

</table>
