@model ETicaret.Models.Urunler

@{
    ViewBag.Title = "Delete";
}

<div class="jumbotron">
    <h2 style="color:darkred">Ürün Sil</h2>
</div>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <div class="col-md-12">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UrunAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UrunAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UrunAciklamasi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UrunAciklamasi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UrunFiyati)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UrunFiyati)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kategoriler.KategoriAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategoriler.KategoriAdi)
            </dd>

        </dl>
    </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
                <a href="/Kategoriler/Index" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left"></span> Listeye Dön
                </a>
            </div>
        }
    </div>
